/* Global */

html, body {
  height:100%;
  width: 100%;
}

body {
  font-family: 'Montserrat', sans-serif;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

/* Header */
header {
  color: white;
  width: 100%;
  height:15%;
  background-color: #4A646C;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  z-index: 2;
}

.menu-icon {
  padding: 5px;
  margin:5px;
  width: 20%;
  text-align: center;
  cursor: pointer;
}


h1 {
  width: 80%;
  text-align: center;
}

/* Side */
nav {
  color: white;
  width: 20%;
  height: 100%;
  padding: 15px;
  background-color: #4A646C;
  position: fixed;
  top: 15%;
  z-index: 2;
  font-size: 0.9em;
  overflow: auto;
}

.hidden {
  position:absolute;
  left:-10000px;
}

.filter, .locations {
  margin: 2px;
  margin-bottom: 7px;
  padding: 5px;

}

.locations h2 {
  font-size: 1em;
}

input {
  width: 100%;
  margin-top: 5px;
}

ul {
  list-style-type: none;
  padding-left: 10px;
  font-size: 0.9em;
  text-align: left;
  margin-bottom: 0;
}

button {
  cursor: pointer;
  border: none;
  background-color: inherit;
  color: inherit;
  font-family: inherit;
  font-size: inherit;
  padding: 10px;
  text-align: left;
}

button:focus, button:active {
  border: none;
}

.chosen {
  color: #44D7A8;
}

.show-all {
  font-size: 1em;
}

.attribution {
  padding-left: 8px;
  margin-bottom: 150px;
}

/* Map */
.container {
  position: absolute;
  top: 60;
  right: 0;
  bottom: 0;
  left: 0;
  height:100%;
  width: 100%;
  color: black;
}

#map {
  height: 100%;
  width: 100%;
}

.info-window {
  width: 20px;
  height: 20px;
  background-color: red;
  color: black;
}

h4 {
  margin: 0;
}

.warning {
  background-color: #44D7A8;
  position: absolute;
  top: 15%;
  width: 100%;
  height: 100%;
  z-index: 1;
  padding: 10px;
  padding-top: 100px;
  text-align: center;
}

.hidden-for-everyone {
  display: none;
}

/*media queries*/
@media screen and (max-width:883px){
  .menu-icon {
    width: 25%;
  }

  h1 {
    width: 75%;
    font-size: 1.8em;
  }

  nav {
    width: 25%;
    padding: 10px;
  }

}

@media screen and (max-width:707px){
  h1 {
    font-size: 1.7em;
  }
  nav {
    padding: 5px;
  }

}

@media screen and (max-width:630px){
  h1 {
    font-size: 1.6em;
  }

  nav {
    width: 27%;
    padding: 2px;
    font-size: 0.8em;
  }
}

@media screen and (max-width:510px){
  header{
    height:75px;
  }

  h1 {
    font-size: 1.5em;
  }

  nav {
    width: 27%;
    padding: 2px;
    font-size: 0.8em;
    top:75px;

  }
}

@media screen and (max-width:410px){
  header{
    height:60px;
  }

  .fa-bars {
    font-size: 1.7em;
  }

  h1 {
    font-size: 1.5em;
  }

  nav {
    width: 30%;
    padding: 0;
    font-size: 0.7em;
    top:60px;
  }

  .filter, .locations {
    padding: 4px;
    margin-bottom: 2px;
    text-align: center;
  }

  .darksky {
    width: 70px;
    height: 30px;
  }

}

@media screen and (max-width:300px){

  h1 {
    font-size: 1.3em;
  }

  nav {
    width: 35%;
  }

  .filter {
    margin-bottom: 1px;
  }
}



